* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    padding: 20px 10%;
    background-color: bisque;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo-img {
    width: 150px;
    cursor: pointer;

}